.idea
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.DirectVehicleControl.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\GithubProjects\DirectVehicleControl\.idea\.idea.DirectVehicleControl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/